<!--The content below is only a placeholder and can be replaced.-->




<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <a href="/"><img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="></a>

</div>
<div style="text-align: center" class="links">
  <a routerLink="/admission" class="btn btn-outline-primary">Admission Form</a>
  <a routerLink="/scorecard" class="btn btn-outline-primary">Score Card</a>
</div>
<!--
<div ngClass="table-responsive container">
  <table ngClass="table table-striped table-bordered">
    <thead>
    <tr>
      <th colspan="4">Students Results Board</th>
    </tr>
    <tr>
      <th>Student Name</th>
      <th>Roll Number</th>
      <th>Total Marks</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of studentsData; let i = index">
      &lt;!&ndash;<td>{{i + 1}}</td>&ndash;&gt;
      <td>{{data.name}}</td>
      <td>{{data.rollNumber}}</td>
      <td>
        {{+data.marks.Science &#45;&#45; +data.marks.Maths &#45;&#45; +data.marks.English}}
      </td>
      <td *ngIf="data.marks.Maths <20 || data.marks.Science <20 || data.marks.English <20; else elseBlock" class="fail"> Fail</td>
      <ng-template #elseBlock><td>Pass</td></ng-template>
    </tr>
    </tbody>
  </table>
</div>-->

<router-outlet></router-outlet>
<!--<score-card></score-card>-->
<!--<admission-form></admission-form>-->

