

<!--<div ngClass="table-responsive container">-->
  <!--<table ngClass="table table-striped table-bordered table-hover table-fixed-header">-->
    <!--<thead class="header">-->
    <!--<tr>-->
      <!--<th colspan="4">Students Results Board</th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th><i>Student Name</i></th>-->
      <!--<th><i>Roll Number</i></th>-->
      <!--<th><i>Total Marks</i></th>-->
      <!--<th><i>Status</i></th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let data of (studentsData); let i = index" >-->
      <!--&lt;!&ndash;<td>{{i + 1}}</td>&ndash;&gt;-->
      <!--<td class="name">{{data.name}}</td>-->
      <!--<td>{{data.rollNumber}}</td>-->
      <!--<td>-->
        <!--{{+data.marks.Science &#45;&#45; +data.marks.Maths &#45;&#45; +data.marks.English}}-->
      <!--</td>-->
      <!--<td *ngIf="data.marks.Maths <20 || data.marks.Science <20 || data.marks.English <20; else elseBlock" class="fail"> Fail</td>-->
      <!--<ng-template #elseBlock><td>Pass</td></ng-template>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->

  <!--<a href="javascript:history.back()" class="btn btn-outline-secondary back">Back</a>-->
<!--</div>-->

<div ngClass="table-responsive container display">
  <table ngClass="table table-striped table-bordered table-hover table-fixed-header">
    <thead class="header">
    <tr>
      <th colspan="4">Students Results Board</th>
    </tr>
    <tr>
      <th><i>Student Name</i></th>
      <th><i>Roll Number</i></th>
      <th><i>Total Marks</i></th>
      <th><i>Status</i></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of (sort.data); let i = index" >
      <!--<td>{{i + 1}}</td>-->
      <td class="name">{{data.studentName}}</td>
      <td>{{data.rollNumber}}</td>
      <td>{{data.totalMarks}}</td>
      <td>{{data.status}}</td>
    </tr>
    </tbody>
  </table>

  <a href="javascript:history.back()" class="btn btn-outline-secondary back">Back</a>
</div>


